.header {
  border-bottom: 1px solid getColor('border-header');
}

.header_container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__logo {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__contacts {
  margin-left: auto;

  @media screen and (max-width: '767px') {
    display: none;
  }

  @media screen and (min-width: '1200px') {
    display: flex;
  }
}

.header__contacts-item {
  @media screen and (max-width: '1199px') {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: '1200px') {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.header__contact-link {
  display: flex;
  align-items: center;

  color: getColor('text-primary');
  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms $animation-cubic;

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  @media screen and (max-width: '1199px') {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: '1200px') {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.header__contact-icon {
  fill: currentColor;

  @media screen and (max-width: '1199px') {
    margin-right: 8px;
  }

  @media screen and (min-width: '1200px') {
    margin-right: 10px;
  }
}

.header__menu-button {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__menu-icon {
  fill: currentColor;
}
