.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;

  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.clients__link {
  @include centeredFlex();
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid getColor('icon-primary');
  border-radius: 4px;

  color: getColor('icon-primary');

  transition: color 250ms $animation-cubic, border-color 250ms $animation-cubic;

  &:hover,
  &:focus {
    color: getColor('accent');
    border-color: getColor('accent');
  }
}

.clients__icon {
  fill: currentColor;
}
